.bg_primary{
    background-color: #0B2E2A;
}

.bg_secondary{
    background-color: #398449;
}

.bg_white{
    background-color: white;
}

.txt_primary {
    color: #0B2E2A;
}

.txt_secondary{
    color: white;
}